<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Flask chat room</title>
      <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  </head>
  <body>
      <div>
          <h1>Flask Chat</h1>
          <p id="error"></p>
          <div id="messages-container">
              <ul id="messages"></ul>
          </div>
          <div id="message-box">
              <input type="text" placeholder="Message" id="message-input" name="message" />
              <button type="submit" id="send" onclick="sendMessage()">Send</button>
          </div>

          <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>

        </div>

      </div>
  </body>
</html>